body {
	background: url(images/bg.gif);
	font-family: Verdana, Arial;
}

#opacity_background{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.53);
	overflow: hidden;
	z-index: -1;
}
/* Фоновый рисунок абстракция */
#abstract{
	background: url(images/bg_admin.png) top left no-repeat;
	width: 887px;
	height: 717px;
}

/* Форма логина */
#container{
	z-index: 2;
	position: fixed;
	display: block;
	width: 466px;
	height: 360px;
	border: 1px solid #2c2c2c;
	/* Скругление углов */
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	/* Градиент */
	background: #000 url(images/bg_gradient.png) repeat-x;
	/* Тень */
	box-shadow: 2px 2px 5px 0 #121111;
	-webkit-box-shadow:2px 2px 5px 0 #121111;
	-moz-box-shadow: 2px 2px 5px 0 #121111;
	
	behavior: url(/dapsite/css/PIE.php);
}

/* Текстура */
.bg_texture{
	display: block;
	width: 360px;
	height: 396px;
	overflow: hidden;
	background: url(images/bg_texture.png) top left repeat;	
	padding: 13px 60px 0px 60px;
}

/* Тень заголовка логина */
.name_form_login{
	display: block;
	text-shadow: 1px 1px 5px #1c1b1b;
	font-size: 45px;
	color: #b5b3b3;
	text-transform: uppercase;
	width: 337px;
	text-align: center;
	line-height: 45px;
}

#form_login{
	display: block;
}

/* Текстовые поля */
.input_text{
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #282727;
	width: 345px;
	height: 50px;
	margin: 25px 0px 0px 0px;
	overflow: hidden;
	border-top: 1px solid #0d0c0c;
	border-left: 1px solid #0d0c0c;
	border-bottom: 1px solid #4a4a4a;
	border-right: 1px solid #4a4a4a;
	
	behavior: url(/dapsite/css/PIE.php);
}

.input_text .shadow_input_text{
	padding: 11px 18px 11px 18px;
	/* Shadow */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	behavior: url(/dapsite/css/PIE.php);
}

.input_text input{
	background: none;
	border: none;
	width: 320px;
	font-size: 22px;
	color: #b1afaf;
}

/* Чекбокс */
.input_checkbox{
	background: url(images/checkbox_na.png) top left no-repeat;
	padding-left: 25px;
	font-size: 15px;
	color: #b1afaf;
	line-height: 14px;
	width: 140px;
	height: 16px;
	float: left;
	cursor: pointer;
}

/* Нажатый чекбокс */
.active_chk{
	background: url(images/checkbox_a.png) top left no-repeat;
}
/* При наведении*/
.mouse_over_chk{
	background: url(images/checkbox_m.png) top left no-repeat;
}
/*Скрываем дефолтный чекбокс*/
.input_checkbox input{
	display: none;
	margin:0;
}

/* Надпись зарегистрироваться*/
#register{
	
}
#register a{
	text-decoration: underline;
	font-size: 15px;
	color: #b1afaf;
	line-height: 14px;
	float: right;
	margin-right: 15px;
}


/* Кнопка сабмита */
#submit_button{
	background: url(images/button_login.png) top left no-repeat;
	width: 347px;
	height: 50px;
	border: none;
	color: #b1afaf;
	font-size: 16px;
	line-height: 10px;
	margin-top: 25px;
	cursor: pointer;
}

/* Нотификатор предупрежении об ошибках */
#notify_form_login{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	background: rgba(200,200,200,0.9);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	z-index: 10;
	cursor: pointer;
	padding: 10px;
	color: #eeeeee;
	font-size: 10px;
	display: none;
	
	-pie-background: rgba(200,200,200,0.9);
	behavior: url(/dapsite/css/PIE.php);
}

.name_notify{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

#block_form{
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.93);
	overflow: hidden;
	z-index: 9;
}

#notify_form_login li{
	color: #9f0000;
}

#notify_form_login ul{
	margin-bottom: 10px;
}